.title {
    font-size: 1.5em;
    font-weight: bold;
    border-right-style: solid;
    padding-right: 0.5em;
    margin-right: 0.25em;
}

.puzzle-dot-list > div {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.wordsearch-color .cell[data-spoke-code]:not([data-spoke-code="0"]) { 
    background: lightgray;
}

.ring {
    display: inline-flex;
    position: relative;
    z-index: 1;
}

.ring::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1em;         /* adjust size */
    height: 1em;        /* adjust size */
    background: transparent; /* circle color */
    border-radius: 50%;
    border-style: solid;
    border-width: 0.1em;
    border-color: #cca044; /* circle border color */
    transform: translate(-50%, -50%);
    z-index: -1;
}
